<ul>
  <% @specialities.each do |speciality|%>
    <li>
      <% if current_teacher.nil? %>
        <h1> <%= link_to speciality.title, speciality_path(speciality) %> </h1>
      <% else %>
        <h1> <%= speciality.title %></h1>
      <% end %>
    </li>

    <% speciality.chapters.each do |chapter| %>
      <li>
        <%= chapter.title %>
      </li>
      <%= chapter.fiches.length %> fiches
    <% end %>
  <% end %>
</ul>

<% if current_teacher.nil? %>
<% else %>
  <%= link_to "Ajouter une spécialité", new_speciality_path %>
<% end %>
