<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%), url('<%= image_path 'speciality-resize.jpg' %>')">
    <div class="banner-content">
      <h1>Notice</h1>
      <h3>La solution qu'il vous faut pour réussir vos examens</h3>
      <br>
      <br>
      <p>Quel cours recherchez-vous ?</p>
      <%= form_tag specialities_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "research",
      placeholder: "Droit de la propriété"
      %>
      <span> <%=  button_tag( :class => "background_loop") do %> <i class="fa fa-search searchIcon"></i>
      <% end %> </span>
      <% end %>
      <br>
      <br>
      <%= link_to "Accédez à l'ensemble des cours", specialities_path, class: "speciality-button" %>
    </div>
  </div>
</div>
<div class = "card-container">
  <% @specialities.each do |speciality|%>
  <div class = "card">
    <%= link_to "", speciality_path(speciality), class: "link-card-show"  %>
    <div class="card-header">
      <div class="card-author">
        <h3>
        <%= cl_image_tag speciality.teacher.avatar, height: 300, width: 340, crop: :fill, gravity: :face, :class => "avatar" %>
        <%= speciality.teacher.pseudo %>
        </h3>
      </div>
      <% if teacher_signed_in? %>
      <% elsif student_signed_in?  %>
      <% if speciality.orders.find_by(student_id: current_student.id).present? %>
      <% if speciality.orders.find_by(student_id: current_student.id).status == "payé" %>
      <div class="already-bought-icon">
        <%= image_tag 'checked.png', height: 20, width: 20, crop: :fill%>
      </div>
      <% else %>
      <div class= "button-buy">
        <% a = speciality.orders.find_by(student_id: current_student.id) %>
        <%= link_to "Terminer la commande", new_order_payment_path(order_id: a.id) %>
      </div>
      <% end %>
      <% else %>
      <div class="button-buy">
        <%= link_to 'Acheter', new_order_path(speciality_id: speciality.id) %>
      </div>
      <% end %>
      <% else %>
      <div class="button-buy">
        <%= link_to 'Acheter', new_order_path(speciality_id: speciality.id) %>
      </div>
      <% end %>
    </div>
    <div class="card-body">
      <div class="card-speciality_title">
        <% if current_teacher.nil? %>
        <h1>
        <%= link_to speciality.title, speciality_path(speciality) %>
        </h1>
        <% else %>
        <h1>
        <%= speciality.title %>
        </h1>
        <% end %>
      </div>
      <div class ="card-chapters_fiches">
        <% counter = 0 %>
        <% speciality.chapters.each do |chapter| %>
        <div class="card-row">
          <div class="card-chapters">
            <p>
              <b> Chapitre <%= counter += 1 %>. </b>
              <%= chapter.title %>
            </p>
          </div>
          <div class="card-fiches">
            <% if chapter.fiches.length <= 1 %>
            <p><%= chapter.fiches.length %> fiche</p>
            <% else %>
            <%= chapter.fiches.length %> fiches
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <div class="ranking">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
        </div>
      <div class="published-date">
        <p>
          <i class="far fa-check-circle"></i>
          <% if (Time.now - speciality.updated_at).to_i/24/60/60 == 1 %>    Mise à jour il y à <%= (Time.now - speciality.updated_at).to_i/24/60/60 %> jour
          <% elsif ((Time.now - speciality.updated_at).to_i/24/60/60) > 1 %>
          Mise à jour il y à <%= (Time.now - speciality.updated_at).to_i/24/60/60 %> jours
          <% elsif %>
          Crée aujourd'hui
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
  <div class="button-add-speciality">
    <% if current_teacher.nil? %>
    <% else %>
    <%= link_to "+ Ajouter un cours", new_speciality_path %>
    <% end %>
  </div>
</div>
