<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%), url('<%= image_path 'index_image-min.jpg' %>')">
    <div class="banner-content">
      <h1>Notice</h1>
      <h3>La solution qu'il vous faut pour réussir vos examens</h3>
      <br>
      <br>
      <p>Accédez à la spécialité que vous recherchez</p>
      <%= form_tag specialities_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Droit de la propriété"
      %>
      <% end %>

    </div>
  </div>
</div>



<div class = "card-container">
  <% @specialities.each do |speciality|%>
    <div class = "card">
      <div class="card-header">
        <div class="card-author">
          <h3>
            <%= cl_image_tag speciality.teacher.avatar, height: 300, width: 340, crop: :fill, gravity: :face, :class => "avatar" %>
            <%= speciality.teacher.pseudo %>
            <%= link_to 'acheter', orders_new_path(speciality_id: speciality.id), class: "btn btn-success pull-right" %>
          </h3>
        </div>
      </div>

      <div class="card-body">
        <div class="card-speciality_title">
          <% if current_teacher.nil? %>
            <h1>
              <%= link_to speciality.title, speciality_path(speciality) %>
            </h1>
          <% else %>
              <h1>
                <%= speciality.title %>
              </h1>
          <% end %>
        </div>

        <div class ="card-chapters_fiches">
          <% counter = 0 %>
          <% speciality.chapters.each do |chapter| %>
          <div class="card-row">
            <div class="card-chapters">
              <p>
                <b>Chapitre <%= counter += 1 %>. </b>
                <%= chapter.title %>
              </p>
            </div>

            <div class="card-fiches">
              <% if chapter.fiches.length <= 1 %>
                <p><%= chapter.fiches.length %> fiche</p>
              <% else %>
                <%= chapter.fiches.length %> fiches
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer">
        <div class="published-date">
          <p>
            <i class="far fa-check-circle"></i>
            <% if (Time.now - speciality.updated_at).to_i/24/60/60 == 1 %>    Mise à jour il y à <%= (Time.now - speciality.updated_at).to_i/24/60/60 %> jour
             <% elsif ((Time.now - speciality.updated_at).to_i/24/60/60) > 1 %>
              Mise à jour il y à <%= (Time.now - speciality.updated_at).to_i/24/60/60 %> jours
              <% elsif %>
               Crée aujourd'hui
             <% end %>
          </p>
        </div>

        <div class="review">
        </div>

        <div class= "ranking">
        </div>
      </div>
    </div>
  <% end %>
</div>



<% if current_teacher.nil? %>
<% else %>
  <%= link_to "Ajouter une spécialité", new_speciality_path %>
<% end %>
