<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Mes cours" %>
<div class="body-prof">
  <div class="title-prof">
    <h1>Mes cours</h1>
    <!-- calcul du total généré par l'ensemble des cours de ce prof -->
    <% counter = 0 %>
    <% @specialities.each do |speciality| %>
    <% counter += (speciality.orders.count * speciality.price) %>
    <% end %>
    <h4>Ma cagnotte: <%= counter %>€</h4>
    <!-- affichage du total généré -->
  </div>
  <div class = "dashboard-container">
    <% @specialities.each do |speciality| %>
    <div class = "dashboard">
      <div class="dashboard-body">
        <div class="dashboard-speciality-title">
          <h1>
          <%= speciality.title %>
          </h1>
          <div class="dashboard-chapters_fiches">
            <ol>
              <% speciality.chapters.each do |chapter|%>
              <div class="dashboard-row">
                <div class="dashboard-chapters">
                  <li><%= chapter.title %></li>
                </div>
                <div class="dashboard-edit-chapitre">
                  <p> <%= link_to edit_speciality_chapter_path(speciality, chapter) do %>
                    <i class="far fa-edit"></i>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="dashboard-fiches">
                <% chapter.fiches.each do |fiche| %>
                <div class="dashboard-row">
                  <div class="dashboard-fiches-title">
                    <h3><%= fiche.title  %></h3>
                  </div>
                  <div class="dashboard-edit-fiche">
                    <p> <%= link_to edit_speciality_chapter_fich_path(fiche.chapter.speciality.id, fiche.chapter.id, fiche) do %>
                      <i class="farfiches far fa-edit"></i>
                      <% end %>
                    </p>
                  </div>
                </div>
                <% end %>
                <div class="dashboard-add-fiche">
                  <p> <%= link_to "+ ajouter une fiche", new_speciality_chapter_fich_path(speciality, chapter) %>
                  </p>
                </div>
              </div>
              <% end %>
              <li><p> <%= link_to "Ajouter un chapitre", new_speciality_chapter_path(speciality) %>
              </p></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="dashboard-footer">
        <div class="dashboard-row">
          <div class="speciality-count">
            <p>
              <i class="euros fas fa-euro-sign"></i>
              <% if speciality.orders.count == 1%>
                <%= speciality.orders.count  %> étudiant a téléchargé votre cours - Votre cours vous a rapporté <%= "#{speciality.orders.count * speciality.price}" %>€
              <% elsif speciality.orders.count == 0%>
                Votre cours n'a pas encore été téléchargé
              <% else speciality.orders.count > 1%>
                <%= speciality.orders.count  %> étudiants ont téléchargé votre cours - Votre cours vous a rapporté <%= "#{speciality.orders.count * speciality.price}" %>€
              <% end %>
            </p>
          </div>
          <div class="published-date-dashboard">
            <p>
              <i class="far fa-check-circle"></i>
              <% if (Time.now - speciality.updated_at).to_i/24/60/60 == 1 %>    Mise à jour il y a <%= (Time.now - speciality.updated_at).to_i/24/60/60 %> jour
              <% elsif ((Time.now - speciality.updated_at).to_i/24/60/60) > 1 %>
              Mise à jour il y a <%= (Time.now - speciality.updated_at).to_i/24/60/60 %> jours
              <% elsif %>
              Crée aujourd'hui
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="new-speciality">
  <% if current_teacher.nil? %>
  <% else %>
  <%= link_to "Ajouter un cours", new_speciality_path, class: "about-button" %>
  <% end %>
</div>
</div>

</div>
