<h1>Quelle est votre spécialité</h1>

<%= simple_form_for @speciality do |f| %>
<%= f.error_notification %>
<%= f.input :title, label: "Nom de la spécialité"%>
<%= f.button :submit %>
<% end %>


<%= link_to "Retour", :back %>
