<h1><%= @speciality.title %></h1>
<%= link_to 'acheter', orders_new_path(speciality_id: @speciality.id), class: "btn btn-success pull-right" %>

<!-- , speciality :query, params[:query] -->

  <ul>
    <% @speciality.chapters.each do |chapter| %>
      <li>
        <% if current_teacher.nil? %>
          <%= link_to chapter.title, speciality_chapter_path(chapter) %>
        <% else %>
          <%= chapter.title %>
        <% end %>
      </li>
      <ul>
        <% chapter.fiches.each do |fiche| %>
          <li>
            <% if current_teacher.nil? %>
              <%= link_to fiche.title, speciality_chapter_fich_path(chapter, fiche) %>
            <% else %>
              <%= fiche.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </ul>


