<h1>Mes achats</h1>

<% if @my_order.present? %>
  <p>Spécialité : <%= @order.speciality.title  %></p>
  <p>Statut: vous possedez déjà ce contenu </p>
  <%= link_to @speciality.title, speciality_path(@speciality), class: "btn btn-success" %>
<% else %>
  <p>Spécialité : <%= @order.speciality.title  %> -  prix: <%= humanized_money_with_symbol(@order.speciality.price) %></p>
  <%= link_to "confirmer", orders_path, method: :post, class: "btn btn-success" %>
<% end %>





