
<div class= "achats">
<div class= "titre-achats">
<strong> <h1>Mon panier</h1></strong>
</div>

<div class= "texte-achats">
<% if @my_order.present? %>
  <strong> <p class="statut">Vous possedez déjà ce contenu </p></strong>
   <%= link_to @speciality.title, speciality_path(@speciality), class: "btn btn-success" %>
  <div class= "retour-achats">
  <%= link_to "Retour", specialities_path%>
</div>
<% else %>
<div class= "texte-achats">
  <p>Cours : <strong><%= @order.speciality.title %></strong>
    <div class= "texte-achats">
    <br> Total de votre panier: <strong><%= humanized_money_with_symbol(@order.speciality.price) %></p></strong>
  </div>
  <br> <%= link_to "Valider ma commande", orders_path, method: :post, class: "btn btn-success" %>
<% end %>
</div>
</div>
</div>




