
<div class= "achats">
<div class= "titre-achats">
<h1>Mes achats</h1>
</div>

<div class= "texte-achats">
<% if @my_order.present? %>
  <strong> <p class="statut">Vous possedez déjà ce contenu </p></strong>
   <%= link_to @speciality.title, speciality_path(@speciality), class: "btn btn-success" %>
  <div class= "retour-achats">
  <%= link_to "Retour", specialities_path%>


</div>
<% else %>
  <strong><p>Spécialité : <%= @order.speciality.title  %> -  prix: <%= humanized_money_with_symbol(@order.speciality.price) %></p></strong>
  <%= link_to "confirmer", orders_path, method: :post, class: "btn btn-success" %>
<% end %>
</div>
</div>




