
<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%), url('<%= image_path 'home-image2-resize.jpg' %>')">
    <div class="banner-content">
      <h1>Notice</h1>
      <h3>La solution qu'il vous faut pour réussir vos examens</h3>
      <br>
      <br>
      <p>Quel cours recherchez-vous ?</p>


<%= form_tag specialities_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "research",
      placeholder: "Droit de la propriété"
      %>
      <span> <%=  button_tag( :class => "background_loop") do %> <i class="fa fa-search searchIcon"></i>
<% end %> </span>
      <% end %>


      <br>
      <br>
    <%= link_to "Accédez à l'ensemble des cours", specialities_path, class: "speciality-button" %>

    </div>
  </div>
</div>
<div class="icon-container">
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
    <div class="cours">
      <div class="icon">
        <%= image_tag 'cours.png', height: 100, width: 100, crop: :fill%>
      </div>
      <div class="text">
        <h4>Cours</h4>
        <p>Des cours complets rédigés par nos experts</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
    <div class="cours">
      <div class="icon">
        <%= image_tag 'fiches.png', height: 100, width: 100, crop: :fill%>
      </div>
      <div class="text">
        <h4>Fiches</h4>
        <p>Des fiches didactiques de révision avec les points clés à connaitre pour l'examen</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
    <div class="cours">
      <div class="icon">
        <%= image_tag 'flashcards.png', height: 100, width: 100, crop: :fill%>
      </div>
      <div class="text">
        <h4>Flashcards</h4>
        <p>Des flashcards accessibles partout pour valider vos acquis</p>
      </div>
    </div>
  </div>
  </div>
</div>
