<div class="container">
  <div class= "frame">
   <div class= "speciality-chapter-title ">
      <h3>Cours: <%= @fiche.chapter.speciality.title %></h3>
      <p>
        Chapitre: <%= @fiche.chapter.title %> - Fiche : <%= @fiche.title %>
      </p>
    </div>
    <div class="link_to_retour">
      <%= link_to "Retour", :back %>
    </div>
  </div>

  <% if @order.present? && @order.status == "payé" %>
    <div class="liseuse-pdf">
      <iframe src="https://docs.google.com/viewer?url=<%= @fiche.content %>&embedded=true"
      style="width:100%; height:750px;" frameborder="0"></iframe>
    <!-- changer l'url du pdf par la string stockée en local pour @fiche.content ou addcolumn dans la table chapters pour stocker l'url -->
    <!-- responsive: sur téléphone, width max = 360px/ sur ordinateur, width max = + -->
    </div>
  <% else %>
    <div class="error-message">
      <p>Vous ne possedez pas ce contenu</p>
    </div>
  <% end %>
</div>
